.container {
  // background-color: red;
  h1 {
    color: #fff;
    font-size: 24px;
  }
  &__slide {
    // background-color: green;
    height: 379px;
    color: #fff;
    // background-image: url("/img/slides/home-bg-slide.jpg");
    // object-fit: contain;
    // object-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px;
    h2 {
      font-size: 40px;
      margin: 0;
    }
  }
}
