.container {
  width: 100%;
  height: 100vh;
  // background-color: red;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__main {
    // background-color: green;
    display: flex;
    justify-content: space-between;
  }
  &__feed {
    flex-grow: 1;
    // background-color: green;
    margin: 10px;
    border-radius: 5px;
  }
}
